@font-face {
    font-family:"Century_Gothic";
    src: local("Century_Gothic"),
        url("../fonts/Century_Gothic") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-strecht: normal;
    unicode-range: "Y+0-10FFFF";
}

body{
    font-family: "Century_Gothic";
    font-style: normal;
    font-stretch: normal;
}

form {
    border-style:25px dashed;
    border-color: #3B4145;
    border-width: 25px;
    border-radius: 25px;
    margin: -120px auto;
    width: 50%;
    max-width: 500px;
    background: #fff;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    z-index: 5000;
    position: absolute;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

input[type="submit"] {
    width: 55%;
    background: linear-gradient(#1D5072, #1D5072);
    border: 0;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    margin: 0 auto;
}

input[type="submit"]:hover {
    opacity: 1;
}

input[type="submit"]:active {
 transform: scale(0.95);
}

@media (max-width:768px) {
    form {
        width: 75%;
        margin-top: 10px;
    }
}

@media (max-width:480px) {
    form {
        width: 90%;
        margin-top: 10px;
    }
}

#botonesabajo{
    margin-top:130px;
}
#botonesabajo img{
    margin-left: 40px;
}

.soluciones{
    float: left;
    margin-left: 120px;
}

.radio{float: right;
  margin-right: 120px;
}